In [5]:
print("Hello World") #string

type("Hello World")

Hello World

str

In [9]:
print(5678)  #integer
type("5678")
type(5678.9887)

5678

float

In [3]:
print(434.6767) #float

434.6767

In [6]:
print("Hello World 89897") #string

type("Hello World 89897")

Hello World 89897

str

In [12]:
print("this is ali's bag")

this is ali's bag

In [15]:
print("Salam",',ahmed ',12+12,12.454)

Salam ,ahmed  24 12.454

In [16]:
print("Salam",',ahmed ',12+12,12.454,sep="*****")

Salam*****,ahmed *****24*****12.454

In [17]:
print("Hello PIAC")
print("Hollo Karachi")
print("Hello Gulshan")

Hello PIAC
Hollo Karachi
Hello Gulshan

In [18]:
print("Hello PIAC",end="\t")
print("Hollo Karachi",end="  ")
print("Hello Gulshan",end="...")

Hello PIAC	Hollo Karachi  Hello Gulshan...

In [19]:
print(2+6)

8

In [20]:
print(2+int(208))

210

In [21]:
print(str("2")+" is TWO")

2 is TWO

In [22]:
name="habib"
age=22

print("My name is "+name+" and my age is "+str(age))

My name is habib and my age is 22

In [23]:
print("My name is {} and my age is {}".format(name,age))

My name is habib and my age is 22

In [24]:
print("My name is {1} and my age is {0}".format(name,age))

My name is 22 and my age is habib

In [25]:
print(f"My name is {name} and my age is {age}")

My name is habib and my age is 22

In [26]:
name='khan'  #name variable modified

In [27]:
a=TRUE

NameError: name 'TRUE' is not defined

In [28]:
print("HABIB"*3)

HABIBHABIBHABIB

In [29]:
print(" HABIB "*3)

 HABIB  HABIB  HABIB

In [30]:
print(3*" HABIB "*3)

 HABIB  HABIB  HABIB  HABIB  HABIB  HABIB  HABIB  HABIB  HABIB

In [31]:
a=3
b=5
c=a*b

In [32]:
a=3
b=5
c=a*b

In [33]:
a=3
b=5
c=a*b
c

15

In [34]:
a=3
b=5
c=b/a
c

1.6666666666666667

In [35]:
a=3
b=5
c=b//a
c

1

In [36]:
a=3
b=5
c=b/a
print(c)
print(round(c,4))

1.6666666666666667
1.6667